@use "/src/styles/colors" as colors;

html {
  background-color: colors.$gray08;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;

  .title {
    color: colors.$white01;
  }
}
